# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.claude/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Plans
plan*.md

# Sandbox sentinel files (created by Claude Code sandbox enforcement)
HEAD
config
hooks
objects
refs
.bash_profile
.bashrc
.gitconfig
.gitmodules
.idea
.mcp.json
.profile
.ripgreprc
.zprofile
.zshrc
